body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover ;
    background-image:url("../assets/bolo-a-beça.jpg");
    background-repeat: no-repeat;
    
}

h1 {
    background-color: #ff9c3a;
    color: #000000;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
   
}

h2 {
    color: #000000; 
    margin-top: 20px;
    background-color: #f1dd2eee;
}

h3 {
    color: #000000; 
    margin: 10px 0;
    background-color: #e9c440;
    text-align: center;
}

h2, h3 {
    border-bottom: 2px solid #ff0000; 
    padding-bottom: 5px;
}

p {
    line-height: 1.5;
}

button{
    background-image: linear-gradient(rgb(247, 180, 10),rgba(226, 209, 56, 0.56), rgb(225, 150, 44));
    border-radius: 100% 100% 90% 100%;
    width: 150px; 
    height: 70px;
    box-shadow: 6px 5px 8px rgb(155, 88, 47); 
   font-family: cursive;
    font-size: 20px;
    background-image: url("../assets/tramontina-corte-rapido.gif");
   background-size: cover;
   
   }