body{
    background-image: url(../assets/WhatsApp\ Image\ 2024-06-20\ at\ 8.37.52\ PM.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
h1{
    background-color: rgb(255, 190, 27);
    text-align: center;
}
h2{
    background-color: burlywood;
    text-align: center;
}

h3{
    background-color: rgb(255, 162, 0);
    text-align: center;
}


